$theme-colors: (
  "primary": #653737,
  "danger": #ff4136
);
$body-bg: #fff;
$body-color: #111;
$white: #ffffff;
$text-color: #241414;
$dark-text: #0D0A19;
$primary-color: #653737;
$primary-tint: #FFC5C0;
$gray-bg: #FCFAFA;
// Transitioning
$transition-default: .2s ease-in-out;
$transition-medium: .4s ease-in-out;
$section-paragrph: rgba(69, 38, 38, 0.8);
$font-regular: 12px;
$font-medium: 14px;
$card-shadow: 0px 24px 38px rgba(0, 0, 0, 0.03),
0px 9px 46px rgba(0, 0, 0, 0.08),
0px 11px 15px rgba(0, 0, 0, 0.1);
$border: 1px solid#ced4da;
$yellow: #FAAD13;
$outlay: #FCFCFD;
$process-dark: #241414;
$green-color: #2D7B09;
$process-gray: rgba(0, 0, 0, 0.6);