$body-bg: #fff;
$body-color: #111;
$white: #ffffff;
$dark-text: #0D0A19;
$primary-color: #653737;
$primary-tint: #FFC5C0;
$gray-bg: #FCFAFA;
// Transitioning
$transition-default: .2s ease-in-out;
$transition-medium: .4s ease-in-out;
$section-paragrph: rgba(69, 38, 38, 0.8);
$font-regular: 12px;
$font-medium: 14px;