// Define variable defaults
@import "variable";
@import "./appscss/mixins";
@import "./appscss/button";
@import "./appscss/icons";
// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
// @import "node_modules/bootstrap-vue/src/index.scss";
// @import 'node_modules/bootstrap-vue/src/index.scss';
@import "./appscss/nav";
@import "./appscss/process";
@import "./appscss/header";
@import "./appscss/form";
@import "./appscss/carousel";
@import "./appscss/body";
@import "./appscss/footer";
@import "./appscss/plan";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500&display=swap");
a,
* {
  outline: none;
}

a:active {
  opacity: 1;
}

.modal-backdrop {
  background-color: rgba($black, 0.56);
}

p.error {
  font-size: $font-regular - 1 !important;
  font-weight: 400 !important;
  color: $red !important;
  margin: 5px 0 0 !important;
}
.error {
  color: $red !important;
}

.close_icon {
  position: absolute;
  right: -30px;
  top: -10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $red;
  cursor: pointer;
  font-size: 20px;
}