.wrap-main-content {
  // min-height: 80vh;
}

section {
  padding: 3em 0;
}

// About section
.about-content {
  margin: 2em 0;
  background: #F7F7F8;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 3em 3.5em;
  h2 {
    font-size: 57px;
    font-weight: bold;
  }
  p {
    font-size: $font-medium;
  }
}

// Contact section
.contact-section {
  background-color: $gray-bg;
  min-height: 80vh;
  display: flex;
  align-items: center;
  .form-container {
    min-height: 300px;
  }
  h3 {
    text-align: center;
    margin-bottom: 1.5em;
    font-size: 2.3em;
    font-weight: bold;
  }
}

.action-view {
  background-image: url('../img/quick-backgroup-image.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 5em;
  text-align: center;
  margin: 2em 0;
  .btn-set {
    display: flex;
    align-items: center;
    a {
      max-width: 120px;
      margin: 1em 0.5em;
    }
  }
  >* {
    color: $white;
    margin: 10px 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  p {
    width: 65%;
  }
}

// how it works
.custom-title {
  font-weight: bolder;
  font-size: $font-medium * 2.3;
  text-align: center;
  margin-bottom: 1em;
}

.card {
  &.transpo-card {
    background-color: $white;
    box-shadow: $card-shadow;
    transition: $transition-medium;
    min-height: 390px;
    margin: 1em 0;
    border-radius: 10px;
    padding: 1.5em 2em;
    .-icon {
      width: 40px;
      height: 40px;
      margin: 10px 0 2em;
      transition: $transition-medium;
    }
    h6 {
      font-weight: bold;
      margin-bottom: 1em;
    }
    p {
      font-size: $font-medium;
      margin-bottom: 1em;
    }
  }
  &:hover {
    .-icon {
      width: 50px;
      height: 50px;
    }
    box-shadow: none;
  }
}

.img-wrap {
  position: relative;
  display: flex;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    transition: $transition-medium;
    object-fit: contain;
    transform: scale(1.6);
    position: absolute;
    right: -45px;
    top: -90px;
  }
}

.map-view {
  padding: 0 0 0 2em;
  ul {
    list-style: none;
  }
}

.map-container {
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: $white;
}

// Carousel
.auto-card-view img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.auto-card-view {
  height: 430px;
  box-shadow: $card-shadow;
  margin: 2em;
  border-radius: 16px;
  padding: 2em;
  position: relative;
  .auto-card-caption {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: $primary-color;
    border-radius: 16px;
    padding: 1em 2em 0.5em;
    cursor: pointer;
    border: 2px solid $primary-tint;
    h6 {
      font-weight: bolder;
    }
    p {
      margin: 0;
      font-size: $font-regular;
    }
    >* {
      color: $white;
    }
  }
}

.hotdeals-carousel {
  position: relative;
  .custom-next,
  .custom-prev {
    position: absolute;
    z-index: 2;
    height: 430px;
    top: 32px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 35px;
    transition: $transition-medium;
    background-color: transparent;
    cursor: pointer;
  }
  .custom-next {
    right: -50px;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
  }
  .custom-prev {
    left: -50px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  .owl-theme .owl-nav {
    margin-top: 0;
    top: 40%;
    width: 100%;
    position: absolute;
    [class*='owl-'] {
      position: absolute;
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  &:hover {
    .custom-next {
      right: -30px;
      background: $primary-color;
      border-right: 5px solid $primary-tint;
    }
    .custom-prev {
      left: 0;
      background: $primary-color;
      border-left: 5px solid $primary-tint;
    }
  }
}

// Features
.features {
  background-image: url('../img/primary-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 1300px;
  padding: 3em 0;
  display: flex;
  align-items: center;
  h2 {
    margin: 10px 0;
  }
}

.custom-header {
  padding-top: 0;
  text-align: center;
  width: 60%;
  margin: 0 auto 3em;
  color: $white;
  h2 {
    margin-bottom: 1em;
  }
}

.testimonials {
  .custom-header {
    h2 {
      color: $dark-text;
    }
    p {
      color: $primary-color;
    }
  }
}

.dot-it {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($outlay, 0.1);
  animation: opacify 5s infinite;
  margin-bottom: 1em;
  &::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: $yellow;
    position: relative;
  }
}

.feature-option {
  color: $white;
  margin: 20px 0 3em;
  display: flex;
  flex-direction: column;
  &.right {
    text-align: right;
    align-items: flex-end;
  }
  h6 {
    font-weight: bold;
  }
  p {
    font-size: $font-medium + 2;
  }
}

// Map Section
.map-view {
  a,
  address,
  p {
    font-weight: 500;
    color: $text-color;
  }
  .pin {
    margin-right: 10px;
    color: $primary-color;
  }
  a {
    transition: $transition-medium;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

@keyframes opacify {
  0% {
    background-color: rgba($outlay, 0.1);
  }
  50% {
    background-color: rgba($outlay, 0.01);
  }
  100% {
    background-color: rgba($outlay, 0.1);
  }
}