.-icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  i {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.driver-icon {
  background-image: url('../img/driver-icon.svg');
}

.investor-icon {
  background-image: url('../img/investor-icon.svg');
}

.payment-icon {
  background-image: url('../img/payment-icon.svg');
}

.statistics-icon {
  background-image: url('../img/statistics-icon.svg');
}

.quote-icon {
  background-image: url('../img/quote-icon.svg');
}
.vehicle-detail-icon {
  background-image: url('../img/vehicle-detail.svg');
}
.profile-icon {
  background-image: url('../img/profile-detail.svg');
}
.guarantor-icon {
  background-image: url('../img/guarantor.svg');
}