.brand-logo {
  width: 120px;
  @include imgView(contain, center)
}

ul.navbar-nav.link-set {
  display: flex;
  align-items: center;
}

.navbar-dark {
  background-color: $white;
  height: 60px;
  .btn.btn-primary {
    margin-left: 20px;
    transition: $transition-medium;
    .nav-link {
      color: $white !important;
      margin: 0;
      opacity: 1;
      &:hover {
        opacity: 1;
      }
    }
  }
  .navbar-nav {
    .nav-link {
      color: $primary-color;
      transition: $transition-medium;
      font-weight: 500;
      margin-left: 20px;
      &:hover {
        color: $primary-color;
        opacity: 0.6;
      }
    }
  }
}